<div class="patients-list">
  <h3>Select Patient</h3>
  <md-list flex>
    <md-list-item ng-repeat="patient in $ctrl.patients" ui-sref-active="active"
                  ui-sref="patient({ patientId: patient.id })">
      <div class="md-list-item-text" layout="column">
        <p>{{ patient.name }}</p>
      </div>
    </md-list-item>
  </md-list>
</div>