add-diagnos, patient, patients, edit-patient-info, edit-diagnos
  width: 100%
md-toolbar
  background: #3dbafc !important
.main-container
  height: 100%
h1, h2, h3
  font-family: "Roboto", sans-serif
body, p, a, b, i
  font-family: "Open Sans", sans-serif
.breadcrumbs
  padding: 1rem
  margin: 0
  background: #f1f1f1
  li
    display: inline-block
    &:after
      content: '>'
      font-size: 18px
      color: #5e5e5e
      margin-left: 0.5rem
    &:last-child
      &:after
        content: ''
    a
      color: #3dbafb
      text-decoration: none
.no-diagnoses
  padding: 0 1rem
.md-fab
  width: 36px !important
  height: 36px !important
  line-height: 36px !important

