.header-menu-bar
  background: #3dbafc !important
  height: 36px !important
  min-height: 36px !important
  +box-shadow(0 1px 3px rgba(10, 10, 10, 0.15))
  .header-menu-btn
    color: #0e85c4
    &.active
      color: white
      border-bottom: 3px solid white
      height: 36px
      +border-radius(0)
