.diagnoses-history-table, .current-diagnoses-table
  width: 100%
  border-collapse: collapse
  th
    background: #e8e8e8
  td, th
    text-align: center
    padding: 1rem
  .cell-diagnoses-code

  .cell-diagnoses-name
    text-align: left
    width: 60%
  .cell-diagnoses-start
  .cell-diagnoses-end
  .cell-diagnoses-action
.edit-diagnos-btn
  color:  #cccccc
  width: 30px !important
  height: 30px !important
  min-height: 30px !important
  line-height: 30px !important
  padding: 0 !important
  font-size: 18px !important

.delete-diagnos-btn
  background: #ff4646 !important
  width: 18px !important
  height: 18px !important
  min-height: 18px !important
  line-height: 18px !important
  padding: 0 2px !important
  .fa
    color: white