.patient-info-sidenav
  background: #646464
  padding: 1rem
  color: white
  position: relative
  h3
    font-size: 26px
.edit-patient-info-btn
  position: absolute
  top: 2.2rem
  right: 1.5rem
  width: 36px
  height: 36px
  line-height: 36px
  text-align: center
  font-size: 24px