<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>angular test</title>
    <base href="/">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <!-- build:css styles/vendor.css -->

    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild -->
    
  </head>
  <body ng-cloak layout="column" ng-app="patient-app" ng-controller="AppController">

    <md-toolbar layout="row" class="md-toolbar-tools header-menu-bar">
      <md-button class="menu md-icon-button" hide-gt-sm ng-click="toggleSidebar()"
                 aria-label="Show Patient List">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </md-button>
      <section layout="row" show-md layout-align="center center" layout-wrap>
        <md-button ui-sref="home" ng-class="{active: $state.includes('home')}" class="header-menu-btn">Home</md-button>
        <md-button ui-sref="patients"  ng-class="{active: $state.includes('patients') || $state.includes('patient') || $state.includes('addDiagnos') || $state.includes('editDiagnos') || $state.includes('editPatientInfo')}" class="header-menu-btn">Patients</md-button>
        <md-button ui-sref="about" ng-class="{active: $state.includes('about')}" class="header-menu-btn">About</md-button>
      </section>
    </md-toolbar>


    <ui-view flex layout="row"></ui-view>

    <!-- build:js scripts/vendor.js -->

    <!-- endbuild -->
    
    <!-- build:js scripts/app.js -->
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
