<div flex layout="row" class="main-container">
  <md-sidenav class="md-whiteframe-4dp patient-info-sidenav" md-is-locked-open="$mdMedia('gt-sm')"
              md-component-id="left">
    <h3>{{$ctrl.patient.name}}</h3>
    <p>{{$ctrl.patient.birthday || 'no birthday'}}</p>
    <p>{{$ctrl.patient.address || 'no address'}}</p>

    <div class="edit-patient-info-btn" ui-sref="editPatientInfo({patientId: $ctrl.patient.id})" aria-label="add">
      <i class="fa fa-pencil"></i>
    </div>
  </md-sidenav>

  <md-content flex class="main-container edit-patient-info">
    <ul class="breadcrumbs">
      <li><a ui-sref="patients">Patients</a></li>
      <li>{{$ctrl.patient.name}}</li>
    </ul>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>Edit Patient</h3>
      </div>
    </md-toolbar>

    <md-content layout class="form-container">
      <form name="updateInfoForm" novalidate autocomplete="off" ng-submit="$ctrl.updateInfo(updateInfoForm)">
        <div layout>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Name</label>
            <input required name="name"
                   ng-model="$ctrl.newPatientInfo.name"/>
            <div ng-messages="updateInfoForm.name.$error">
              <div ng-message="required">Name is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>DOB</label>
            <input required ng-pattern="/^[0-9]{2}/[0-9]{2}/[0-9]{4}$/" name="birthday"
                   ng-model="$ctrl.newPatientInfo.birthday"/>

            <div ng-messages="updateInfoForm.birthday.$error">
              <div ng-message="pattern">Birthday field should be in this format dd/mm/yyyy.</div>
              <div ng-message="required">Birthday field is required.</div>
            </div>
          </md-input-container>
        </div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Address</label>
          <textarea name="address" ng-model="$ctrl.newPatientInfo.address" rows="5" md-select-on-focus></textarea>
        </md-input-container>
        <div layout layout-align="end center">
          <md-button type="submit" class="md-raised md-primary">Save</md-button>
        </div>
      </form>
    </md-content>

  </md-content>

</div>

