<div flex layout="row" class="main-container">


  <md-sidenav class="md-whiteframe-4dp patient-info-sidenav" md-is-locked-open="$mdMedia('gt-sm')"
              md-component-id="left">
    <h3>{{$ctrl.patient.name}}</h3>
    <p>{{$ctrl.patient.birthday || 'no birthday'}}</p>
    <p>{{$ctrl.patient.address || 'no address'}}</p>

    <div class="edit-patient-info-btn" ui-sref="editPatientInfo({patientId: $ctrl.patient.id})" aria-label="add">
      <i class="fa fa-pencil"></i>
    </div>
  </md-sidenav>


  <md-content flex class="main-container add-diagnos">
    <ul class="breadcrumbs">
      <li><a ui-sref="patients">Patients</a></li>
      <li>{{$ctrl.patient.name}}</li>
    </ul>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>Add New Diagnos:</h3>
      </div>
    </md-toolbar>

    <md-content layout class="form-container">
      <form name="addDiagnosForm" novalidate autocomplete="off" ng-submit="$ctrl.addDiagnos(addDiagnosForm)">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Code</label>
          <input md-maxlength="6" ng-pattern="/^[0-9]{6}$/" required name="code" ng-model="$ctrl.newDiagnos.code"/>
          <div ng-messages="addDiagnosForm.code.$error">
            <div ng-message="required">Code is required.</div>
            <div ng-message="pattern">The code should be digital 6 characters length.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Diagnos</label>
          <input required name="diagnosis" ng-model="$ctrl.newDiagnos.diagnosis"/>

          <div ng-messages="addDiagnosForm.diagnosis.$error">
            <div ng-message="required">Diagnosis field is required.</div>
          </div>
        </md-input-container>
        <div layout layout-align="end center">
          <md-button type="submit" class="md-raised md-primary">Save</md-button>
        </div>
      </form>
    </md-content>

  </md-content>

</div>

