<div flex layout="row" class="main-container patient-info">


  <md-sidenav class="md-whiteframe-4dp patient-info-sidenav" md-is-locked-open="$mdMedia('gt-sm')"
              md-component-id="left">
    <h3>{{$ctrl.patient.name}}</h3>
    <p>{{$ctrl.patient.birthday || 'no birthday'}}</p>
    <p>{{$ctrl.patient.address || 'no address'}}</p>

    <div class="edit-patient-info-btn" ui-sref="editPatientInfo({patientId: $ctrl.patient.id})" aria-label="add">
      <i class="fa fa-pencil" ></i>
    </div>
  </md-sidenav>

  <md-content flex class="main-container patient-info-data">
    <ul class="breadcrumbs">
      <li><a ui-sref="patients">Patients</a></li>
      <li>{{$ctrl.patient.name}}</li>
    </ul>

    <md-button class="md-fab md-fab-top-right" ui-sref="addDiagnos({patientId: $ctrl.patient.id})" aria-label="add">
      <i class="fa fa-plus" ></i>
    </md-button>
    <section layout="column" layout-gt-lg="row">
      <section flex>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h3>Current Diagnoses</h3>
          </div>
        </md-toolbar>
        <p class="no-diagnoses" ng-if="!$ctrl.patient.currentDiagnoses.length">No Current Diagnoses</p>
        <table class="current-diagnoses-table" ng-if="$ctrl.patient.currentDiagnoses.length">
          <tr>
            <th>Code</th>
            <th class="cell-diagnoses-name">Diagnosis</th>
            <th>Addition Date</th>
            <th></th>
          </tr>
          <tr ng-repeat="diagnosesItem in $ctrl.patient.currentDiagnoses">
            <td class="cell-diagnoses-code">{{(diagnosesItem.code).slice(0,4)}}</td>
            <td class="cell-diagnoses-name">{{diagnosesItem.diagnosis}}</td>
            <td class="cell-diagnoses-start">{{diagnosesItem.startDate}}</td>
            <td layout="row" class="cell-diagnoses-action">
              <md-button class="md-icon-button edit-diagnos-btn" ui-sref="editDiagnos({patientId: $ctrl.patient.id, diagnosId: diagnosesItem.id })" aria-label="add">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </md-button>
              <md-button ng-click="$ctrl.deleteDiagnos(diagnosesItem.id)" class="md-fab md-mini delete-diagnos-btn" aria-label="delete">
                <i class="fa fa-times" aria-hidden="true"></i>
              </md-button>
            </td>
          </tr>
        </table>
      </section>
      <section flex>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h3>History Diagnoses</h3>
          </div>
        </md-toolbar>
        <p class="no-diagnoses" ng-if="!$ctrl.patient.diagnosesHistory.length">No History Diagnoses</p>
        <table class="diagnoses-history-table" ng-if="$ctrl.patient.diagnosesHistory.length">
          <tr>
            <th>Code</th>
            <th class="cell-diagnoses-name">Diagnosis</th>
            <th>Addition Date</th>
            <th>End Date</th>
          </tr>
          <tr ng-repeat="diagnosesItem in $ctrl.patient.diagnosesHistory track by $index">
            <td class="cell-diagnoses-code">{{(diagnosesItem.code).slice(0,4)}}</td>
            <td class="cell-diagnoses-name">{{diagnosesItem.diagnosis}}</td>
            <td class="cell-diagnoses-start">{{diagnosesItem.startDate}}</td>
            <td class="cell-diagnoses-end">{{diagnosesItem.endDate}}</td>
          </tr>
        </table>
      </section>
    </section>
  </md-content>

</div>

